@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left: 570px;
    top: 490px;
    width: 310px;
}

video#filme {
    display: block;
    position: relative;
    right: 100px;
    left: 60px;
    top: 50px;
    width: 500px;
}

video#filme-principal01 {
    display: block;
    position: relative;
    right: 80px;
    left: 50px;
    top: -5px;
    width: 450px;
}

video#filme-principal02 {
    display: block;
    position: relative;
    right: 80px;
    left: 0px;
    top: -5px;
    width: 350px;
}

